<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>APP7使用組件渲染同样的文本-使用todo-item（範本）</div>
    <div>@未使用組件顯示</div>
    <div id="app-7-1">
        <ol>
            <li v-for="todo in groceryList">
                {{ todo.iden + todo.text }}
            </li>
        </ol>
    </div>
    <div>@使用組件顯示</div>
    <div id="app-7">
        <ol>
            <!-- Now we provide each todo-item with the todo object    -->
            <!-- it's representing, so that its content can be dynamic -->
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>

    //設定組件規格
    Vue.component('todo-item', {
        props: ['todo'],                     //使用 Prop 传递数据
        template: ' <li>{{ todo.iden + todo.text + new Date() }}</li>' //
    })

    var app71 = new Vue({
        el: '#app-7-1',
        data: {
            groceryList: [
              { text: 'Vegetables',iden:'1' },
              { text: 'Cheese',iden: '2' },
              { text: 'Whatever else humans are supposed to eat', iden: '3' }
            ]
        }
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
              { text: 'Vegetables', iden: '1' },
              { text: 'Cheese', iden: '2' },
              { text: 'Whatever else humans are supposed to eat', iden: '3' }
            ]
        }
    })
    //Tips:app7.groceryList.push({ text: 'New item',iden:'99' })




</script>